body{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #F77A33;
	
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 26px;
	padding-top: 30px;
}

p{

	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	padding: 0;

}
.step{
	padding: 60px;
}

.padding{
	padding-top: 60px;
}

.bgfix{
	background-attachment: fixed;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	height: 800px;
	display: table;
	width: 100%;
	text-align: center;
}

.preview{
	margin: 0 auto;
	height: 100%;
	width:100%;
	background-image: url(../img/preview.png);
}

.bottom{
	margin-bottom: 100px;
}

.white{
	color:#fff;
}

.center {
	display: table-cell;
	vertical-align: middle;

}

.logo {
	background-image: url(../img/logo.png);
	width:384px; 
	height:78px;
	margin: 0 auto;
}

.margin {
	margin-top: 50px;
}