.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.heading_1 {
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:44px;
  color:#FFFFFF;
  text-align:left;
}
.heading_2 {
  font-family:'Roboto';
  font-weight:300;
  font-style:normal;
  font-size:24px;
  color:#005D9F;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#6F6F6F;
  text-align:left;
}
.flow_shape {
}
.link_button {
  color:#169BD5;
}
.box_1 {
}
.primary_button {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.button {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
.lead_text {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
.ghost_button {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
.ghost_button_light {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
.line {
}
.text_field {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.input {
}
.hint {
  font-family:'Roboto-Italic', 'Roboto Italic', 'Roboto';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
.grey_box {
  text-align:left;
}
